/* universal css */
* {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Lato', sans-serif; */
}


/* cover section css*/

header {
    background-color: rgba(229, 84, 115, 0.10);
}

.cover-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* left side cover */
.left-side {
    /* display: flex; */

}

.cover-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    display: flex;
}


/* right side cover*/
.cover-img {
    width: 450px;
    height: auto;
}