/* universal css start*/
* {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Lato', sans-serif; */
    font-family: Lato;
}

/* universal css end*/

/* primary css start*/
.btn {
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    background-color: #E55473;
    font-weight: 400;
    padding: 13px 24px 13px;
}

/* primary css end*/


/* cover section css start*/

header {
    background-color: rgba(229, 84, 115, 0.10);
}

.cover-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 90px 0px 110px;
    padding-top: 30px;
}

/* cover section css end*/


/* left side cover start*/
.left-side {
    /* display: flex; */
    max-width: 630px;

}

.cover-title {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
    display: flex;
}

.cover-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px 0px;
}

/* left side cover end*/


/* right side cover*/
.right-side {
    display: flex;
}

.cover-img {
    width: 500px;
    height: auto;
}

/* main */
/* margin for section start*/
section {
    margin-top: 100px;
}
/* margin for section end */


/* Our Featured Flowers section start*/
.featured-section {
    margin: 0px 150px;
}

/* featured one or first section start */
.featured-one {
    background-color: white;
}

.featured-text {
    text-align: center;
    margin-bottom: 50px;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* featured image section */

.featured-img-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-img-one {
    display: flex;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    max-width: 450px;
    max-height: auto;
}

.featured-img-two {
    display: flex;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    max-width: 450px;
    max-height: auto;
}

.featured-img-three {
    display: flex;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    max-width: 450px;
    max-height: auto;
}

#img-a {
    /* background: rgba(167, 33, 98, 0.15); */
    width: 250px;
    padding: 41px 45px 0px 45px;
}

#img-b {

    /* background: rgba(5, 151, 160, 0.15); */

    width: 325px;

    padding: 65px 15px 5px 15px;
}

#img-c {

    /* background: rgba(71, 125, 17, 0.15); */

    width: 250px;

    padding: 14px 45px 0px 45px;
}



.featured-img-title {
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
}

/* featured-one or first section end */

/* featured-two or 2nd section start */

.featured-two {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 120px;
    padding: 70px 150px 70px 150px;

}

.featured-extra {
    /* display: flex;
    align-items: center; */
    text-align: center;
}

.extra-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-weight: 600;
}

/* Our Featured Flowers section end */
/* Hot deals section start */

.hot-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 70px 150px;

}

.hot-text-area {
    /* display: flex; */
    max-width: 500px;
    /* align-items: center; */
    text-align: center;
}

.hot-title {
    color: #272727;
    font-family: Lato;
    font-size: 35px;
    font-weight: 800;
}

.hot-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 20px 0px 20px;
}
#btn-signup {
    /* text-align: center; */
}
.hot-img {
    width: 230px;
}