/* universal css start*/
* {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Lato', sans-serif; */
    font-family: Lato;
}

/* universal css end*/

/* primary css start*/
.btn {
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    background-color: #E55473;
    font-weight: 400;
    padding: 13px 24px 13px;
}

/* primary css end*/

/* nav section start */
header {
    background-color: rgba(229, 84, 115, 0.10);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
    /* background-color: #dcabb5; */
    border-bottom: 5px solid #E55473;

}

.logo {
    color: #E55473;
    font-size: 50px;
    font-weight: 800;
    padding: 10px;
}

nav>ul {

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.menu-list {
    list-style: none;
    margin-right: 45px;
}

#shop-now {
    font-size: 20px;
    margin-right: 0px;

}


/* cover section css start*/

.cover-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    padding-top: 30px;
}

/* cover section css end*/


/* left side cover start*/
.left-side {
    /* display: flex; */
    max-width: 630px;

}

.cover-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    display: flex;
}

.cover-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px 0px;
}


.right-side {
    display: flex;
}

.cover-img {
    width: 480px;
    height: auto;
}

/* main */
/* margin for section start*/
section {
    margin-top: 100px;
}

/* margin for section end */


/* Our Featured Flowers section start*/
.featured-section {
    margin: 0px 150px;
}

/* featured one or first section start */
.featured-one {
    background-color: white;
}

.featured-text {
    text-align: center;
    margin-bottom: 50px;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* featured image section */

.featured-img-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-img-one {
    display: flex;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    max-width: 450px;
    max-height: auto;
}

.featured-img-two {
    display: flex;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    max-width: 450px;
    max-height: auto;
}

.featured-img-three {
    display: flex;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    max-width: 450px;
    max-height: auto;
}

#img-a {
    /* background: rgba(167, 33, 98, 0.15); */
    width: 250px;
    padding: 41px 45px 0px 45px;
}

#img-b {

    /* background: rgba(5, 151, 160, 0.15); */

    width: 325px;

    padding: 65px 15px 5px 15px;
}

#img-c {

    /* background: rgba(71, 125, 17, 0.15); */

    width: 250px;

    padding: 14px 45px 0px 45px;
}



.featured-img-title {
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
}

/* featured-one or first section end */

/* featured-two or 2nd section start */

.featured-two {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 120px;
    padding: 70px 150px 70px 150px;

}

.featured-extra {
    /* display: flex;
    align-items: center; */
    text-align: center;
}

.extra-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-weight: 600;
}

/* Our Featured Flowers section end */
/* Hot deals section start */

.hot-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 70px 100px;

}

.hot-text-area {
    /* display: flex; */
    max-width: 500px;
    /* align-items: center; */
    text-align: center;
}

.hot-title {
    color: #272727;
    font-family: Lato;
    font-size: 35px;
    font-weight: 800;
}

.hot-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 20px 0px 20px;
}

#btn-signup {
    /* text-align: center; */
}

.hot-img {
    width: 230px;
}

/* hot deal section end */



/* instagram section start */

.insta-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* insta-img section */

.insta-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-radius: ; */
    margin: 40px 150px;
}

.img-insta {
    width: 260px;
    border-radius: 8px;
}

/* instagram section end */


/* Get The Latest Deals section start */
.latest-deal-container {
    /* display: flex;
    align-items: center;*/
    text-align: center;
    background-image: url('../images/Rectangle\ 9.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 320px;
    margin: 0px 150px;
    border-radius: 8px;
}

.latest-text-area {
    /* display: flex; */
    /* margin-top: 100px; */
    padding-top: 100px;
    margin-bottom: 15px;
}

.latest-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.latest-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 15px 0px;
}

.input-email {
    color: rgba(39, 39, 39, 0.60);
    font-size: 13px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    background: #FFF;
    width: 470px;
    height: 44px;
    padding-left: 30px;

}

#subscribe-btn {
    font-size: 15px;
}

/* Get The Latest Deals section end */

/* main tag ended */

/* footer section */
.main-footer {
    background-color: black;
    text-align: center;
    margin-top: 100px;
    padding: 110px 0px 100px;
}

.footer-textarea {
    /* margin: 0px 0px 15px; */
}

.footer-title {
    font-size: 45px;
    font-weight: 800;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px 0px 30px;
}

.footer-reserved p {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

/* footer end */