/* universal css start*/
* {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Lato', sans-serif; */
}

/* universal css end*/

/* primary css start*/
.btn {
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    background-color: #E55473;
    font-weight: 400;
    padding: 13px 24px 13px;
}

/* primary css end*/


/* cover section css start*/

header {
    background-color: rgba(229, 84, 115, 0.10);
}

.cover-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 90px 0px 110px;
    padding-top: 30px;
}

/* cover section css end*/


/* left side cover start*/
.left-side {
    /* display: flex; */
    max-width: 630px;

}

.cover-title {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
    display: flex;
}

.cover-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 15px 0px;
}

/* left side cover end*/


/* right side cover*/
.right-side {
    display: flex;
}
.cover-img {
    width: 500px;
    height: auto;
}

/* main */
/* Our Featured Flowers section start*/
.featured-one {
    background-color: white;
}

.featured-text {
    text-align: center;
    margin-bottom: 50px;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
/* featured image section */

.featured-img-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.featured-img-one {
    display: flex;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    max-width: 450px;
    max-height: auto;
}
.featured-img-two {
    display: flex;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    max-width: 450px;
    max-height: auto;
}
.featured-img-three {
    display: flex;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    max-width: 450px;
    max-height: auto;
}

#img-a {
    /* background: rgba(167, 33, 98, 0.15); */
    width: 250px;
    padding: 41px 45px 0px 45px;
}

#img-b {

/* background: rgba(5, 151, 160, 0.15); */

width: 325px;

padding: 65px 15px 5px 15px;
}

#img-c {

/* background: rgba(71, 125, 17, 0.15); */

width: 250px;

padding: 14px 45px 0px 45px;
}



.featured-img-title {
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
}